/* =============
    Hero
============= */

#hero{
    aside{
        display: grid; 
        grid-template: 16px auto 16px;
        grid-template-areas: ". hero-aside .";
>div{
    grid-area: hero-aside;
    }
  }
}